body {
  margin: 0;
  padding: 0;
  font: 150%;
  letter-spacing: -1px;
}

h2 {
  letter-spacing: -2px;
}

h3 {
  letter-spacing: -1px
}

img {
  width: 100%;
}

dl, dt {
  line-height: 1.2;
  font-size: 120%;
}

dt {
  font-weight: bold;
}

dt::after {
  content: ':';
}

dd {
  margin: 0;
  padding: 0 0 0.5em 0;
}

button {
  font-size: inherit;
}
